<div id="<%= dom_id gato %>">
  <p>
    <strong>Name:</strong>
    <%= gato.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= gato.breed %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gato.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= gato.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gato.user_id %>
  </p>

</div>
