<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @gato.name %></h1>
  <h3>Breed: <%= @gato.breed %></h3>

  <% if @gato.image.attached? %>
    <%= image_tag @gato.image, style: "width: 100%; max-width: 500px;" %>
  <% else %>
    <p>No image available</p>
  <% end %>

  <div>
    <h3>Description:</h3>
    <p><%= @gato.description %></p>
  </div>

  <p>
    <strong>Added by:</strong>
    <%= @gato.user.email %>
  </p>

  <div>
    <% if user_signed_in? && @gato.user == current_user %>
      <%= link_to "Edit this gato", edit_gato_path(@gato) %> |
      <%= link_to "Delete this gato", gato_path(@gato), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
    <%= link_to "Back to gatos", gatos_path %>
  </div>
</div>
