<h1 class="h2 mb-4">Editar Usuario</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex justify-content-between align-items-center">
    <h6 class="m-0 font-weight-bold text-primary">Usuario: <%= @user.email %></h6>
    <div>
      <%= link_to 'Volver', admin_users_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
  <div class="card-body">
    <%= form_with(model: [:admin, @user], local: true) do |form| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h2><%= pluralize(@user.errors.count, "error") %> al guardar:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :role, "Rol", class: "form-label" %>
        <%= form.select :role, [['Usuario', ''], ['Administrador', 'admin']], {}, class: "form-select" %>
      </div>

      <div class="actions">
        <%= form.submit "Guardar cambios", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>